ASP.NET/WebService/上机部分/源代码/阶段3/HotBooksWebService/HotBooksWebService/Web References/MyBookShop/HotBooksWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHotBooks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotBooksResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHotBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotBooks" />
  </wsdl:message>
  <wsdl:message name="GetHotBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="HotBooksWebServiceSoap">
    <wsdl:operation name="GetHotBooks">
      <wsdl:input message="tns:GetHotBooksSoapIn" />
      <wsdl:output message="tns:GetHotBooksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotBooksWebServiceSoap" type="tns:HotBooksWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotBooks">
      <soap:operation soapAction="http://tempuri.org/GetHotBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotBooksWebServiceSoap12" type="tns:HotBooksWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotBooks">
      <soap12:operation soapAction="http://tempuri.org/GetHotBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotBooksWebService">
    <wsdl:port name="HotBooksWebServiceSoap" binding="tns:HotBooksWebServiceSoap">
      <soap:address location="http://localhost/Web/MyWebService/HotBooksWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotBooksWebServiceSoap12" binding="tns:HotBooksWebServiceSoap12">
      <soap12:address location="http://localhost/Web/MyWebService/HotBooksWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>