ASP.NET/素材/Shop/App_WebReferences/MyShop/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyShop.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyShop.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsInfo" nillable="true" type="tns:ArrayOfGoodsInfo" />
  <xs:complexType name="GoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsCount" type="xs:int" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
</xs:schema>