ASP.NET/素材/Shop/App_WebReferences/MyShop1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://6jifang-013/MyShop/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyShop.Model" />
  <xs:element name="GetAllInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyShop.Model" minOccurs="0" name="GetAllInfoResult" nillable="true" type="q1:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHasInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyShop.Model" minOccurs="0" name="gs" nillable="true" type="q2:GoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyShop.Model" minOccurs="0" name="SelectByNameResult" nillable="true" type="q3:ArrayOfGoodsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>